/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

/* To reset the tailwind styling in markdown files*/
.reset-tw,
.reset-tw * {
  all: revert !important;
}

/* The payment checkout popup on homepage */
.cl-drawerRoot {
  z-index: 10;
}

/* Scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
